*.pdf
.DS_Store
*.wav
/proyectoLYP/target
/latex/document.aux
/latex/document.log
/latex/document.out
/latex/document.pdf
/latex/document.synctex.gz
/latex/document.toc
/latex/document.snm
/latex/document.nav
/latex/document.vrb
